# ==========================
# FastAPI
# ==========================
fastapi
uvicorn

# ==========================
# Streamlit
# ==========================
streamlit
requests

# ==========================
# Environment Variables
# ==========================
python-dotenv

# ==========================
# Google Gemini
# ==========================
google-genai

# ==========================
# Neo4j
# ==========================
neo4j

# ==========================
# Vector Database
# ==========================
chromadb

# ==========================
# Embeddings
# ==========================
sentence-transformers

# ==========================
# Data Processing
# ==========================
pandas
openpyxl

# ==========================
# PDF / DOCX / PPT
# ==========================
pypdf
python-docx
python-pptx

# ==========================
# Utilities
# ==========================
numpy
tqdm
